<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <a href="#content" class="skip-link">Skip To Content</a>
  <div id="hamburger">
    <a id="hamburger-btn" href="#">☰</a>
  </div>
  <nav>
    <div class="logo">
      <img src="./logo-white.png" width="50px" alt="brand-logo">
      <h1 tabindex="0">Hunger</h1>
    </div>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li><a href="https://www.linkedin.com/in/izzafi-ramdhani-al-kaff-baa8b9225/" target="_blank">About Us</a></li>
    </ul>
  </nav>
  <header>
    <div id="jumbotron">
      <div id="hero">
        <img src="./images/heros/hero-image_4.jpg" width="100%" alt="Hero image">
      </div>
    </div>
  </header>

  <main>
    <section id="explore">
      <div id="explore-title">
        <h2>&hearts;&nbsp; Explore Restaurants &nbsp;&hearts;</h2>
      </div>
      <article id="content">
      </article>
    </section>
  </main>
  
  <footer>
    <div id="footer-description">
      <p>&copy;2022 Hunger</p>
    </div>
  </footer>
</body>

</html>