<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore your favorite restaurants">
  <meta name="theme-color" content="#ee5f00">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png">
  <script src="https://kit.fontawesome.com/de784a0440.js" crossorigin="anonymous"></script>
  <title>Hunger | Restaurant App</title>
</head>

<body>
  <a href="#content" class="skip-link">Skip To Content</a>
  <div id="hamburger">
    <a id="hamburger-btn" href="#">☰</a>
  </div>

  <nav>
    <div class="logo">
      <img src="./logo-white.png" width="50px" alt="brand-logo">
      <h1 tabindex="0">Hunger</h1>
    </div>
    <ul>
      <li id="home-link" class="active"><a href="#/all">Home</a></li>
      <li id="favorite-link"><a href="#/favorite">Favorite</a></li>
      <li><a href="https://www.linkedin.com/in/izzafi-ramdhani-al-kaff-baa8b9225/" target="_blank">About Us</a></li>
    </ul>
  </nav>
  
  <header>
    <div id="jumbotron">
      <div id="hero">
        <img src="./images/heros/hero-image_4.jpg" width="100%" alt="Hero image">
      </div>
    </div>
  </header>

  <main>
    <h2 class="explore-title">&hearts;&nbsp; Explore Restaurants &nbsp;&hearts;</h2>
    <section id="explore">
      <!-- <article id="content">
      </article> -->
    </section>
  </main>
  
  <footer>
    <div id="footer-description">
      <p>&copy;2022 | Hunger</p>
    </div>
  </footer>
</body>

</html>