/* LOADING ANIMATION */
#loader {
  position: fixed;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}
#loader-element {
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--smooth-shadow);
}
@keyframes ldio-vf59mttuxah-1 {
    0% { transform: rotate(0deg) }
  50% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}
@keyframes ldio-vf59mttuxah-2 {
    0% { transform: rotate(180deg) }
  50% { transform: rotate(225deg) }
  100% { transform: rotate(180deg) }
}
.ldio-vf59mttuxah > div:nth-child(2) {
  transform: translate(-15px,0);
}
.ldio-vf59mttuxah > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #f36f18;
  animation: ldio-vf59mttuxah-1 0.41152263374485604s linear infinite;
  transform-origin: 60px 60px
}
.ldio-vf59mttuxah > div:nth-child(2) div:nth-child(2) {
  animation: ldio-vf59mttuxah-2 0.41152263374485604s linear infinite
}
.ldio-vf59mttuxah > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}@keyframes ldio-vf59mttuxah-3 {
  0% { transform: translate(190px,0); opacity: 0 }
  20% { opacity: 1 }
  100% { transform: translate(70px,0); opacity: 1 }
}
.ldio-vf59mttuxah > div:nth-child(1) {
  display: block;
}
.ldio-vf59mttuxah > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #d70909;
  animation: ldio-vf59mttuxah-3 0.41152263374485604s linear infinite
}
.ldio-vf59mttuxah > div:nth-child(1) div:nth-child(1) { animation-delay: -1.6280999999999999s }
.ldio-vf59mttuxah > div:nth-child(1) div:nth-child(2) { animation-delay: -0.8019s }
.ldio-vf59mttuxah > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-qooqfx7dax {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-vf59mttuxah {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-vf59mttuxah div { box-sizing: content-box; }

/* FAVORITE BUTTON ANIMATION */
#favorite-button i:hover {
  -webkit-animation: shake-lr 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	animation: shake-lr 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}
